[submodule "compound-protocol"]
	path = compound-protocol
	url = https://github.com/backstop-protocol/compound-protocol.git
    branch = bprotocol
    ignore=dirty
[submodule "user-rating"]
	path = user-rating
	url = https://github.com/backstop-protocol/user-rating.git
[submodule "openzeppelin-upgrades"]
	path = openzeppelin-upgrades
	url = https://github.com/jchittoda/openzeppelin-upgrades.git
